 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🎨 TUS COLORES OFICIALES */
 :root {
  --primary: #6BAEC9;
  --secondary: #4A4A4A;
  --tertiary: #DDC9A3;
  --accent: #F7A38B;
  --background: #F8F8F5;
  --hover: #A8D7E6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--secondary);
}

a {
  
  text-decoration: none;
}
 

